body {
    padding: 10px;
    color: var(--vscode-editor-foreground); /* Use VS Code's theme color */
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
}

button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: 1px solid var(--vscode-button-border, var(--vscode-button-background)); /* Use border if defined, else background */
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

/* Style for the collector button */
#open-collector-button {
    background-color: rgba(173, 216, 230, 0.5); /* Light Blue tint (Increased Opacity) */
    border-color: rgba(173, 216, 230, 0.7); /* Adjusted border slightly */
}

#open-collector-button:hover {
    background-color: rgba(173, 216, 230, 0.7); /* Darker blue on hover (Increased Opacity) */
}

/* Style for the lister button */
#open-lister-button {
    background-color: rgba(144, 238, 144, 0.3); /* Light Green tint */
    border-color: rgba(144, 238, 144, 0.5);
}

#open-lister-button:hover {
    background-color: rgba(144, 238, 144, 0.5); /* Darker green on hover */
}

textarea {
    display: block;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-input-border, var(--vscode-input-background));
    font-family: var(--vscode-editor-font-family); /* Use editor font for monospace */
    font-size: var(--vscode-editor-font-size);
}
